.movies__card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.movies__card-image {
  width: 270px;
  height: 151px;
  object-fit: cover;
  box-shadow: 0 5px 15px rgb(235, 235, 235);
  border-radius: 10px;
}

.movies__card-container {
  padding: 14px 0 29px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.movies__card-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movies__card-link {
  width: 100%;
  height: 100%;
  position: relative;
}

.movies__card-overlay {
  width: 100%;
  height: 100%;
  z-index: 8999;
  display: block;
  opacity: 0;
  position: absolute;
  background-image: url("../../images/play.svg");
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}

.movies__card-overlay:hover {
  opacity: 1;
}

.movies__card-link:hover .movies__card-image {
  filter: grayscale(.7) blur(2px)
}

.movies__card-like-button {
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  background-color: rgb(206, 206, 206);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/not-saved.svg");
}

.movies__card-like-button_saved {
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  background-color: rgb(206, 206, 206);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/saved.svg");
  visibility: hidden;
}

.movies__card:hover .movies__card-like-button_saved {
  visibility: visible;
}

.movies__card-like-button:hover,
.movies__card-like-button_saved:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies__card-like-button_liked {
  background-image: url("../../images/like.svg");
}

.movies__card-movie-time {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: rgba(139, 139, 139, 1);
  margin: 5px 0 5px;
}

.movies__card-movie-about {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 768px) {
  .movies__card-image {
    width: 339px;
    height: 190px;
  }
  .movies__card-like-button_saved {
    visibility: visible;
  }
}

@media screen and (max-width: 425px) {
  .movies__card-image {
    width: 100%;
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movies__card-image {
    width: 300px;
    height: 168px;
  }

  .movies__card-title {
    font-size: 12px;
    line-height: 15px;
  }

  .movies__card-container {
    padding: 15px 0 29px;
  }

  .movies__card-movie-about, .movies__card-movie-time {
    font-size: 10px;
    line-height: 13px;
  }
}
