.navtab__container {
  width: 100%;
  max-width: 1280px;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navtab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

.navtab__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__list-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  transition: .2s all ease;
}

.navtab__link:nth-last-of-type(1) {
  margin-right: 0;
}

.navtab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .navtab__link {
    font-size: 11px;
    padding: 10px;
    margin-right: 4px;
  }
}